/* General Reset */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: #e8f5ff;
    font-family: Arial;
    overflow: hidden;
}

/* NavbarTop */
.navbar-top {
    background-color: #fff;
    color: #333;
    box-shadow: 0px 4px 8px 0px grey;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    font-family: 'Dancing Script', cursive;
    padding-top: 15px;
    position: absolute;
    left: 45%;
}

.navbar-top ul {
    position: absolute;
    right: 40px;
    list-style-type: none;
}

.navbar-top ul li {
    float: left;
}

.navbar-top ul li a {
    color: #333;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.icon-count {
    background-color: #ff0000;
    color: #fff;
    font-size: 11px;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
}

/* Sidenav */
.sidenav {
    background-color: #fff;
    color: #333;
    border-bottom-right-radius: 25px;
    height: 86%;
    position: fixed;
    top: 70px;
    left: 0;
    width: 250px;
    padding-top: 20px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.1);
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

/* Profile Info Form */
.profile-info {
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    width: 50%;
    box-shadow: 0px 4px 8px 0px grey;
    border-radius: 12px;
    text-align: center;
}

.profile-info .form-group {
    margin-bottom: 15px;
}

.profile-info label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.profile-info input[type="text"],
.profile-info input[type="email"],
.profile-info input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px grey;
}

.profile-info button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    display: block;
    width: 50%;
}

.profile-info button:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Validation Errors */
.alert {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px grey;
}
